@page "/fetchdata"

@using ParadisePropertyScraper.Data
@inject PropertyService PropertyService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (properties == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Address</th>
                <th>Size (sqm)</th>
                <th>Price</th>
                <th>Rooms</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in properties)
            {
                <tr>
                    <td><a href="http://fasteignir.visir.is/property/@property.Id">@property.StreetName  @property.StreetNumber</a></td>
                    <td>@property.Size</td>
                    <td>@property.Price</td>
                    <td>@property.Rooms</td>
                    <td><img src="@property.Image" alt="Alternate Text" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PropertyList properties;

    protected override async Task OnInitializedAsync()
    {
        properties = await PropertyService.GetProperties("900");
    }
}
